.task-card-input-form__input-field {
  padding: 7px 7px;
  width: 100%;
  border: 1px solid #ffffc5;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  background-color: #000;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.6px;
  color: #fff
}
