.section-tab__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.section-tab__link:hover {
  background-color: #555;
}

.section-tab__link:hover .section-tab__toolbar {
  width: initial;
  opacity: 1;
}
