.task-add-button {
  padding: 8px 8px;
  width: max-content;
  outline: none;
  border: 2px solid #8bc34a;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #0000;
  transition: color 0.15s linear;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.6px;
  color: #8bc34a;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-add-button:hover {
  cursor: pointer;
  color: #cddc39;
}


/* padding: 8px 8px;
box-sizing: border-box;
border-radius: 10px;
background-color: #ffffc5; */
