.section-toolbar__tool-button_type_add {
  border: none;
  background-color: #8bc34a;
  font-weight: 500;
  color: #000;
}

.section-toolbar__tool-button_type_add:hover {
  background-color: #cddc39;
}
