.section-toolbar__tool-button {
  padding: 10px;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #666;
  transition: background-color 0.15s linear;
  
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.6px;
  color: #000;
}

.section-toolbar__tool-button:hover {
  cursor: pointer;
  background-color: #fff;
}
