.section-link {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  transition: all 0.15s linear;
}

.section-link:hover {
  background-color: #444;
}

.section-link:hover .section-link__section-name {
  color: #fff;
}
